.header {
  height: 50px;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  &__title {
    flex-basis: 50%;
    margin-left: auto;
  }
}

fa-icon {
  cursor: pointer;
}
