.store-card {
  border: 1px solid #efefef;
  background-color: #efefef;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__image img {
    width: 90px;
  }

  &__content {
    padding-left: 0.5rem;
    flex-grow: 1;
  }
}
